version: '3.6'

services:

  openldap:
    image: osixia/openldap:latest
    container_name: openldap
    environment:
      LDAP_LOG_LEVEL: '256'
      LDAP_ORGANISATION: ${_LDAP_ORGANISATION}
      LDAP_DOMAIN: ${_LDAP_DOMAIN}
      LDAP_BASE_DN: ''
      LDAP_ADMIN_PASSWORD: 'admin'
      LDAP_CONFIG_PASSWORD: 'config'
      LDAP_READONLY_USER: 'false'
      LDAP_RFC2307BIS_SCHEMA: 'false'
      LDAP_BACKEND: 'mdb'
      LDAP_TLS: 'true'
      LDAP_REPLICATION: 'false'
      KEEP_EXISTING_CONFIG: 'false'
      LDAP_REMOVE_CONFIG_AFTER_SETUP: 'true'
    restart: unless-stopped
    volumes:
      - openldap_ldap:/var/lib/ldap
      - openldap_slapd:/etc/ldap/slapd.d
      - ./openldap/init.ldif:/tmp/init.ldif:ro
      - ./mkcert/certs/service.crt:/container/service/slapd/assets/certs/ldap.crt:ro
      - ./mkcert/certs/service.key:/container/service/slapd/assets/certs/ldap.key:ro
      - ./mkcert/certs/root.crt:/container/service/slapd/assets/certs/ca.crt:ro
    command: '--copy-service'

  phpldapadmin:
    image: osixia/phpldapadmin:latest
    container_name: phpldapadmin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: openldap
      PHPLDAPADMIN_HTTPS: 'true'
    restart: unless-stopped
    ports:
      - '${_LDAPADMIN_HTTPS_PORT}:443'
    depends_on:
      - openldap
    volumes:
      - ./mkcert/certs/service.crt:/container/service/phpldapadmin/assets/apache2/certs/phpldapadmin.crt:ro
      - ./mkcert/certs/service.key:/container/service/phpldapadmin/assets/apache2/certs/phpldapadmin.key:ro
      - ./mkcert/certs/root.crt:/container/service/phpldapadmin/assets/apache2/certs/ca.crt:ro
    command: '--copy-service'

  postgres:
    image: postgres:latest
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak_db
      POSTGRES_USER: ${_POSTGRES_USER}
      POSTGRES_PASSWORD: ${_POSTGRES_PASSWORD}
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak_db
      KC_DB_USERNAME: ${_POSTGRES_USER}
      KC_DB_PASSWORD: ${_POSTGRES_PASSWORD}
      KEYCLOAK_ADMIN: ${_KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${_KEYCLOAK_ADMIN_PASSWORD}
      # If use quay.io/keycloak/keycloak, need to specify the path explicitly.
      KC_HTTPS_CERTIFICATE_FILE: /etc/x509/https/tls.crt
      KC_HTTPS_CERTIFICATE_KEY_FILE: /etc/x509/https/tls.key
    restart: unless-stopped
    ports:
      - ${_KEYCLOAK_HTTPS_PORT}:8443
    command: [ 'start-dev', '--import-realm' ]
    depends_on:
      - postgres
      - openldap
    volumes:
      - ./mkcert/certs/service.crt:/etc/x509/https/tls.crt:ro
      - ./mkcert/certs/service.key:/etc/x509/https/tls.key:ro
      - ./keycloak/import.json:/opt/keycloak/data/import/import.json:ro
    healthcheck:
      test:
        [
          "CMD",
          "bash",
          "-c",
          "curl --silent --fail --output /dev/null http://localhost:8080 || exit 1"
        ]
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 600s

networks:
  default:
    name: internal_sso
    driver: bridge

volumes:
  openldap_ldap:
  openldap_slapd:
  postgres_data:
