version: '3.6'

services:
  growi:
    build:
      context: ./growi-docker-compose
    container_name: growi
    links:
      - mongo:mongo
      - elasticsearch:elasticsearch
    depends_on:
      - mongo
      - elasticsearch
    external_links:
      - keycloak
    environment:
      # saml configutation
      - SAML_USES_ONLY_ENV_VARS_FOR_SOME_OPTIONS=true
      - SAML_ENABLED=true
      - SAML_ENTRY_POINT=${_KEYCLOAK_WIKI_URL}
      - SAML_ISSUER=${_KEYCLOAK_CLIENT_WIKI}
      - SAML_ATTR_MAPPING_ID=id
      - SAML_ATTR_MAPPING_USERNAME=username
      - SAML_ATTR_MAPPING_MAIL=email
      - SAML_ATTR_MAPPING_FIRST_NAME=firstName
      - SAML_ATTR_MAPPING_LAST_NAME=lastName
      - SAML_CERT=${_KEYCLOAK_WIKI_PEM}
      # common configuration
      - MONGO_URI=mongodb://mongo:27017/growi
      - ELASTICSEARCH_URI=https://${_HOSTNAME}:${_ELASTICSEARCH_HTTPS_PORT}/growi
      - APP_SITE_URL=https://${_HOSTNAME}:${_GROWI_HTTPS_PORT}
      - FILE_UPLOAD_USES_ONLY_ENV_VAR_FOR_FILE_UPLOAD_TYPE=true
      - FILE_UPLOAD=aws
      - HACKMD_URI=https://${_HOSTNAME}:${_CODIMD_HTTPS_PORT}
      - HACKMD_URI_FOR_SERVER=https://${_HOSTNAME}:${_CODIMD_HTTPS_PORT}
      - DRAWIO_URI=https://${_HOSTNAME}:${_DRAWIO_HTTPS_PORT}
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    restart: unless-stopped
    entrypoint: "dockerize -wait-retry-interval 5s -wait tcp://mongo:27017 -wait tcp://elasticsearch:9200 -timeout 60s /docker-entrypoint.sh"
    command:
      [
        "yarn migrate && node -r dotenv-flow/config --expose_gc dist/server/app.js"
      ]
    volumes:
      - growi_data:/data
    healthcheck:
      test:
        [
          "CMD",
          "bash",
          "-c",
          "curl --silent --fail --output /dev/null http://localhost:3000 || exit 1"
        ]
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 600s

  mongo:
    image: mongo:4.4
    container_name: growi_db
    restart: unless-stopped
    volumes:
      - mongo_configdb:/data/configdb
      - mongo_db:/data/db

  mongoex:
    image: mongo-express
    container_name: mongoex
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo

  elasticsearch:
    build:
      context: ./growi-docker-compose/elasticsearch
    container_name: growi_es
    environment:
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=-Xms256m -Xmx256m # increase amount if you have enough memory
      - LOG4J_FORMAT_MSG_NO_LOOKUPS=true # CVE-2021-44228 mitigation for Elasticsearch <= 6.8.20/7.16.0
    ulimits:
      memlock:
        soft: -1
        hard: -1
    restart: unless-stopped
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
      - ./growi-docker-compose/elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
    deploy:
      resources:
        limits:
          memory: 512m
    healthcheck:
      test:
        [
          "CMD",
          "bash",
          "-c",
          "curl --silent --fail --output /dev/null http://localhost:9200 || exit 1"
        ]
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 600s

  hackmd:
    build:
      context: ./growi-docker-compose/hackmd
    container_name: codimd
    environment:
      - GROWI_URI=https://${_HOSTNAME}:${_GROWI_HTTPS_PORT}
      - CMD_DB_URL=mysql://hackmd:hackmd-pswd@mariadb:3306/hackmd
      - CMD_CSP_ENABLE=false
      - CMD_IMAGE_UPLOAD_TYPE=minio
      - CMD_S3_BUCKET=hackmd
      - CMD_MINIO_ACCESS_KEY=minioadmin
      - CMD_MINIO_SECRET_KEY=minioadmin-pswd
      - CMD_MINIO_ENDPOINT=${_HOSTNAME}
      - CMD_MINIO_PORT=9000
      - CMD_MINIO_SECURE=false
    restart: unless-stopped
    volumes:
      - ./growi/codimd/config.json:/codimd/config.json:ro
    depends_on:
      - mariadb
    healthcheck:
      test:
        [
          "CMD",
          "bash",
          "-c",
          "curl --silent --fail --output /dev/null http://localhost:3000 || exit 1"
        ]
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 600s

  mariadb:
    image: mariadb:10.3
    container_name: codimd_db
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci
    environment:
      - MYSQL_USER=hackmd
      - MYSQL_PASSWORD=hackmd-pswd
      - MYSQL_DATABASE=hackmd
      - MARIADB_ROOT_PASSWORD=hackmd-pswd
    restart: unless-stopped
    volumes:
      - mariadb_data:/var/lib/mysql

  drawio:
    image: jgraph/drawio:latest
    container_name: drawio
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "bash",
          "-c",
          "curl --silent --fail --output /dev/null http://localhost:8080 || exit 1"
        ]
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 600s

  reverseproxy:
    image: nginx:latest
    container_name: reverseproxy
    volumes:
      - ./reverse-proxy:/etc/nginx/templates:ro
      - ./mkcert/certs/readonly.crt:/certs/growi.crt:ro
      - ./mkcert/certs/readonly.key:/certs/growi.key:ro
    depends_on:
      - drawio
      - hackmd
      - growi
      - mongoex
    environment:
      - _DRAWIO_HTTPS_PORT=${_DRAWIO_HTTPS_PORT}
      - _CODIMD_HTTPS_PORT=${_CODIMD_HTTPS_PORT}
      - _GROWI_HTTPS_PORT=${_GROWI_HTTPS_PORT}
      - _MONGOEX_HTTPS_PORT=${_MONGOEX_HTTPS_PORT}
      - _ELASTICSEARCH_HTTPS_PORT=${_ELASTICSEARCH_HTTPS_PORT}
    ports:
      - ${_DRAWIO_HTTPS_PORT}:${_DRAWIO_HTTPS_PORT}
      - ${_CODIMD_HTTPS_PORT}:${_CODIMD_HTTPS_PORT}
      - ${_GROWI_HTTPS_PORT}:${_GROWI_HTTPS_PORT}
      - ${_MONGOEX_HTTPS_PORT}:${_MONGOEX_HTTPS_PORT}
      - ${_ELASTICSEARCH_HTTPS_PORT}:${_ELASTICSEARCH_HTTPS_PORT}

networks:
  default:
    name: internal_wiki
    driver: bridge

volumes:
  growi_data:
  mongo_configdb:
  mongo_db:
  elasticsearch_data:
  mariadb_data:
