# https://raw.githubusercontent.com/minio/minio/master/docs/orchestration/docker-compose/docker-compose.yaml

version: '3.7'

# Settings and configurations that are common for all containers
x-minio-common:
  &minio-common
  image: quay.io/minio/minio:RELEASE.2022-06-30T20-58-09Z
  command: server --console-address ":9001" http://minio{1...4}/data{1...2}
  expose:
    - "9000"
    - "9001"
  environment:
    MINIO_ROOT_USER: ${_MINIO_ROOT_USER}
    MINIO_ROOT_PASSWORD: ${_MINIO_ROOT_PASSWORD}
    MINIO_SITE_NAME: storage
    MINIO_SITE_REGION: ap-northeast-1
    MINIO_BROWSER_REDIRECT_URL: https://${_HOSTNAME}:${_MINIO_CONSOLE_HTTPS_PORT}
  healthcheck:
    test:
      [
        "CMD",
        "curl",
        "-f",
        "http://localhost:9000/minio/health/live"
      ]
    interval: 30s
    timeout: 20s
    retries: 3

# starts 4 docker containers running minio server instances.
# using nginx reverse proxy, load balancing, you can access
# it through port 9000.
services:
  minio1:
    <<: *minio-common
    hostname: minio1
    container_name: minio1
    volumes:
      - data1-1:/data1
      - data1-2:/data2

  minio2:
    <<: *minio-common
    hostname: minio2
    container_name: minio2
    volumes:
      - data2-1:/data1
      - data2-2:/data2

  minio3:
    <<: *minio-common
    hostname: minio3
    container_name: minio3
    volumes:
      - data3-1:/data1
      - data3-2:/data2

  minio4:
    <<: *minio-common
    hostname: minio4
    container_name: minio4
    volumes:
      - data4-1:/data1
      - data4-2:/data2

  nginx:
    image: nginx:1.19.2-alpine
    hostname: nginx
    container_name: minio_nginx
    volumes:
      - ./minio/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./mkcert/certs/service.crt:/certs/minio.crt:ro
      - ./mkcert/certs/service.key:/certs/minio.key:ro
    ports:
      - ${_MINIO_SERVER_HTTPS_PORT}:9000
      - ${_MINIO_CONSOLE_HTTPS_PORT}:9001
    depends_on:
      - minio1
      - minio2
      - minio3
      - minio4

networks:
  default:
    name: internal_minio
    driver: bridge

## By default this config uses default local driver,
## For custom volumes replace with volume driver configuration.
volumes:
  data1-1:
  data1-2:
  data2-1:
  data2-2:
  data3-1:
  data3-2:
  data4-1:
  data4-2:
